<div class="col col-8 col-3-offset main-page">

    <div v-show="selectedVideo">
        <video id="moocVideo" class="video-js vjs-16-9 vjs-default-skin  vjs-big-play-centered" controls>
        </video>
    </div>

    <div id="content-video-progress-bar"></div>
    <div v-show="chartData" class="click-filters">
        <tags-input :tags="filters" @tags-change="removeFilter"></tags-input>
    </div>
    <div v-show="seekData" id="seekline-graph">
        <seek-line :seek-data="seekData" style="height: 200px; left:0; z-index:1; width:100% "></seek-line>
    </div>

    <div v-show="chartData" id="stacked-area-graph">
        <nvd3-stack-chart :chart-data="chartData" :config="chartConfig">
        </nvd3-stack-chart>
    </div>
</div>
