body {
    background: white;
    font-size: 16px;
    margin: 0;
}

.main {
    margin-top: 20px;
    margin-bottom: 50px;
}

canvas.roads {
    position: absolute;
    left: 0;
}

.setting {
    cursor: pointer;
}

.add {
    cursor: crosshair;
}

.seg.current {
    color: white;
    background-color: darkslategray;
}

.seg {
    background-color: lightgray;
    margin-top: 20px;
}

.poi {
    background-color: lightgreen;
    margin-top: 10px;
}

.cp {
    background-color: lightblue;
    margin-top: 10px;
}

.coords {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.coords div {
    display: flex;
    margin-left: 10px;
}

.coords div input {
    width: 80px;
}
