body {
    background: white;
    font-size: 16px;
    margin: 0;
}

.main {
    margin-top: 20px;
    margin-bottom: 50px;
}

canvas.roads{
    position: absolute;
    left: 0;
}

.setting {
    cursor: pointer;
}

.add {
    cursor: crosshair;
}

.seg.current{
    background-color: deepskyblue;
}

.seg {
    background-color: lightgray;
    margin-top: 20px;
}

.coords {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.coords div {
    display: flex;
    margin-left: 10px;
}
.coords div input{
    width:80px;
}
