<div>
    <section class="tools">
        <button @click="loadImg(1)">Region1</button>
        <button @click="loadImg(2)">Region2</button>
        <input type="file" name="img" @change="loadSegs" />
        <button @click="addSegment">Add Segment</button>
        <button @click="addPOI">Add POI</button>
        <button @click="addCP">Add Cellphone</button>
        <button @click="saveData(null)">Save</button>
        <button @click="cleanCache">Clean Cache</button>
        <button @click="drawRoads">Refresh </button>
    </section>
    <section class="main" @click.ctrl="removeCoords(null)">
        <div class="map">
            <canvas ref="canvas" />
            <canvas ref="roads" class="roads" :class="{'add':isAddCoords || isAddPOI|| isAddCP }" @click="clickCanvas" @contextmenu="rightClickCanvas"
            />
        </div>
        <div class="editor">
            <div v-for="seg in segments" class="seg" :class="{'current':seg === currentSeg}">
                <span>id:</span>
                <span>{{seg.id}}</span>
                <span>name:</span>
                <input type="text" v-model="seg.name" />
                <span>velocity</span>
                <input type="text" v-model="seg.velocity" />
                <span>quantity</span>
                <input type="text" v-model="seg.quantity" />
                <span>width</span>
                <input type="text" v-model="seg.width" />
                <button tabindex="-1" @click="addCoords(seg, $event)">Add Coords</button>
                <button tabindex="-1" @click="removeCoords(seg)">Remove Coords</button>
                <div class="coords">
                    <div v-for="(coord,idx) in seg.coords">
                        <span>{{`#${idx}:`}}</span>
                        <input tabindex="-1" type="text" v-model="seg.coords[idx]">
                    </div>
                </div>
            </div>
            <div v-for="(poi, idx) in pois" class="poi" :class="{}">
                <span>id:</span>
                <span>{{poi.id}}</span>
                <span>name:</span>
                <input type="text" v-model="poi.Name" />
                <span>TYPE</span>
                <input type="text" v-model="poi.Type" />
                <span>X</span>
                <input tabindex="-1" type="text" v-model="poi.utm_lat" />
                <span>Y</span>
                <input tabindex="-1" type="text" v-model="poi.utm_lon" />
                <button tabindex="-1" @click="removePOI(idx)">Remove</button>
            </div>
            <div v-for="(cp, idx) in cps" class="cp" :class="{}">
                <span>id:</span>
                <span>{{cp.id}}</span>
                <span>Radius</span>
                <input type="text" v-model="cp.r" @input="drawRoads" />
                <span>X</span>
                <input tabindex="-1" type="text" v-model="cp.utm_lat" />
                <span>Y</span>
                <input tabindex="-1" type="text" v-model="cp.utm_lon" />
                <button tabindex="-1" @click="removeCP(idx)">Remove</button>
            </div>
        </div>
        <div>
            <span>{{results}}</span>
        </div>

    </section>
</div>
