<div>
    <section class="tools">
        <button @click="loadImg(1)">Region1</button>
        <button @click="loadImg(2)">Region2</button>
        <input type="file" name="img" @change="loadSegs" />
        <button @click="settingOriginal">set original</button>
        <span> {{original}}</span>
        <button @click="addSegment">Add Segment</button>
        <button @click="saveSegment(null)">Save Segment</button>
    </section>
    <section class="main"  @click.ctrl="removeCoords(null)">
        <div class="map">
            <canvas ref="canvas" />
            <canvas ref="roads"
            class="roads"
            :class="{'setting':isSetting, 'add':isAddCoords}"
            @click="clickCanvas"
            @contextmenu="rightClickCanvas" />
        </div>
        <div>
            <span>{{results}}</span>
        </div>
        <div class="editor">
            <div v-for="seg in segments" class="seg" :class="{'current':seg === currentSeg}">
                <span>id:</span>
                <span>{{seg.id}}</span>
                <span>name:</span>
                <input type="text" v-model="seg.name" />
                <span>velocity</span>
                <input type="text" v-model="seg.velocity" />
                <span>quantity</span>
                <input type="text" v-model="seg.quantity" />
                <span>width</span>
                <input type="text" v-model="seg.width" />
                <button @click="addCoords(seg, $event)">Add Coords</button>
                <button @click="removeCoords(seg)">Remove Coords</button>
                <div class="coords">
                    <div v-for="(coord,idx) in seg.coords">
                        <span>{{`#${idx}:`}}</span>
                        <input type="text" v-model="seg.coords[idx]">
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
